<h1>Signup!</h1>

<%= form_for @user do |f| %>

  first name: <%= f.text_field :first_name %>
  last name: <%= f.text_field :last_name %>
  email: <%= f.text_field :email %>
  password: <%= f.text_field :password_digest %>
  <%= f.submit "Submit" %>

<% end %>